<footer>
    <address class="footer_wrap">
        <div class="footer_content">
            <span>
               &copy;<time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>  give_u. All rights reserved.
            </span>
            <div class="social-links">
                <a href="https://github.com/give-u" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/주리-이-5070301aa/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.notion.so/c838dbf563774b3da0d690f19c81c5a1" target="_blank">
                    <i class="fas fa-portrait"></i>
                </a>
                <a href="mailto:giveu051@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </address>
</footer>

